


<link rel="stylesheet" href="footer.component.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <footer class="pie">
        <div class="titulopie">
            <h1 class="tipo titulo"><i class="fas fa-play-circle"></i> Cineteca</h1>
            <div class="icons">
                <div class="shake-slow">
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-whatsapp-square"></i>
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
            <div class="shake-little">
                <h6>Contactanos: 5627379830</h6>
            </div>
    
            <h6 class=""> Amores 1649, Del Valle, Benito Juárez, 03100 Ciudad de México, CDMX</h6>
        </div>
    
    </footer>